
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p style="font-size:15px;">We are located along Kingfisher St., Santo Nino Village, Banilad, Cebu City. We accept walk-ins and delivery requests with COD/debit/credit!</p>

<div class="mapouter"><div class="gmap_canvas"><iframe width="964" height="541" id="gmap_canvas" src="https://maps.google.com/maps?q=kingfisher%20street&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div>
<style>
    .mapouter {
        position: relative;
        text-align: right;
        height: 541px;
        width: 964px;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 541px;
        width: 964px;
    }
</style></div>