@{
    ViewData["Title"] = "Home Page";
}


    <body>
        <div class="text-center">
            <h1 style="padding-bottom:30px;" class="display-4">We make water refilling from your home a breeze.</h1>

            <h2 style="padding-bottom:30px;">Walk-ins are accepted!</h2>

            <button id="button_getStarted" type="button" class="btn btn-primary btn-lg">Get Started</button>
        </div>


    </body>

<!-- Center alignment using text alignment classes -->
<!--div class="box text-center">
    <img src="~/Images/waterJugs.jpg" alt="Sample Image">
</div>-->








