@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BronDill Bakeshop</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2 class="text-center">Refilling Services</h2>

            <div class="view overlay">
                <img src="~/Images/RefillingWater.jpg" alt="Forest" class="img-fluid">
                <div class="mask flex-center rgba-blue-light">
                    <p class="white-text">Light overlay</p>
                </div>
            </div>



        </div>
        <div class="col-sm-2">
            <!--Spacer-->
        </div>
        <div class="col-sm">
            <h2 class="text-center">Containers</h2>
            <img src="~/Images/5GallonWaterContainers.jpg" alt="Forest" class="img-fluid">
        </div>
    </div>
</div>

<div class="view overlay">
    <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid " alt="smaple image">
    <div class="mask flex-center rgba-blue-light">
        <p class="white-text">Light overlay</p>
    </div>
</div>